<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<!-- Spring管理Struts2的Action -->
	<bean name="loginAction" class="com.sms.action.LoginAction" scope="prototype"></bean>
	<bean name="userMainAction" class="com.opensymphony.xwork2.ActionSupport" scope="prototype"></bean>
	<bean name="userAction" class="com.sms.action.UserAction" scope="prototype"></bean>
	<bean name="employeeAction" class="com.sms.action.EmployeeAction" scope="prototype"></bean>
	<bean name="salaryAction" class="com.sms.action.SalaryAction" scope="prototype"></bean>
	<bean name="salaryStandardAction" class="com.sms.action.SalaryStandardAction" scope="prototype"></bean>
	<bean name="newEmployeeAction" class="com.sms.action.NewEmployeeAction" scope="prototype"></bean>
	<bean name="specialSalaryAction" class="com.sms.action.SpecialSalaryAction" scope="prototype"></bean>
	<bean name="initSalaryCompute" class="com.sms.action.InitSalaryCompute" scope="prototype"></bean>
	<bean name="bonusAction" class="com.sms.action.BonusAction" scope="prototype"></bean>
	<bean name="autoSalary" class="com.sms.action.AutoSalary" scope="prototype"></bean>
	<bean name="changeAction" class="com.sms.action.ChangeAction" scope="prototype"></bean>
	<bean name="initCaptcha" class="com.sms.action.InitCaptcha" scope="prototype"></bean>
	<bean name="salaryQuery" class="com.sms.action.SalaryQuery" scope="prototype"></bean>
		
	<bean name="levelSalaryChange" class="com.sms.action.LevelSalaryChange" scope="prototype"></bean>
	
	<!-- Spring管理Struts2的Interceptor -->	
	<bean name="checkLoginInterceptor" class="com.sms.interceptor.CheckLogin"
		scope="prototype"></bean>


	<bean name="userManage" class="com.sms.service.impl.UserManageImp"></bean>
	<bean name="userDao" class="com.sms.dao.impl.UserDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="employeeManage" class="com.sms.service.impl.EmployeeManageImp"></bean>
	<bean name="employeeDao" class="com.sms.dao.impl.EmployeeDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="StartSalaryInfoManage" class="com.sms.service.impl.StartSalaryInfoManageImp"></bean>
	<bean name="startSalaryInfoDao" class="com.sms.dao.impl.StartSalaryInfoDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="salaryManage" class="com.sms.service.impl.SalaryManageImp"></bean>
	<bean name="salaryDao" class="com.sms.dao.impl.SalaryDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="manageSalaryManage" class="com.sms.service.impl.ManageSalaryManageImp"></bean>
	<bean name="ImanageSalaryDao" class="com.sms.dao.impl.ManageSalaryDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="profSalaryManage" class="com.sms.service.impl.ProfSalaryManageImp"></bean>
	<bean name="IProfSalaryDao" class="com.sms.dao.impl.ProfSalaryDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="workerSalaryManage" class="com.sms.service.impl.WorkerSalaryManageImp"></bean>
	<bean name="IWorkerSalaryDao" class="com.sms.dao.impl.WorkerSalaryDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="specialSalaryChangeManage" class="com.sms.service.impl.SpecialSalaryChangeManageImp"></bean>
	<bean name="specialSalaryChangeDao" class="com.sms.dao.impl.SpecialSalaryChangeDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="specialSalaryRecoveryManage" class="com.sms.service.impl.SpecialSalaryRecoveryManageImp"></bean>
	<bean name="specialSalaryRecoveryDao" class="com.sms.dao.impl.SpecialSalaryRecoveryDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="departmentChangeManage" class="com.sms.service.impl.DepartmentChangeManageImp"></bean>
	<bean name="departmentChangeDao" class="com.sms.dao.impl.DepartmentChangeDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean name="leaveSchoolPersonManage" class="com.sms.service.impl.LeaveSchoolPersonManageImp"></bean>
	<bean name="leaveSchoolPersonDao" class="com.sms.dao.impl.LeaveSchoolPersonDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="finalBonusManage" class="com.sms.service.impl.FinalBonusManageImp"></bean>
	<bean name="finalBonusDao" class="com.sms.dao.impl.FinalBonusDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="finalCheckManage" class="com.sms.service.impl.FinalCheckManageImp"></bean>
	<bean name="finalCheckDao" class="com.sms.dao.impl.FinalCheckDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="offInfoManage" class="com.sms.service.impl.OffInfoManageImp"></bean>
	<bean name="offInfoDao" class="com.sms.dao.impl.OffInfoDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean name="ExperiencesManage" class="com.sms.service.impl.ExperiencesManageImp"></bean>
	<bean name="ExperiencesDao" class="com.sms.dao.impl.ExperiencesDaoImp">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
